<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yamakja.shop.mapper.NewsMapper">

    <insert id="addNews">
        INSERT INTO NEWS
        (TITLE,CONTENT,FNAME,FPATH,URL,PREVIEW)
        VALUES
        (#{title},#{content},#{fName},#{fPath},#{url},#{preview})
    </insert>

    <select id="getNews" resultType="com.yamakja.shop.domain.News">
        SELECT * FROM NEWS
    </select>

    <select id="getComment" resultType="com.yamakja.shop.domain.NewsComment">
        SELECT * FROM NEWSCOMMENT
    </select>

    <select id="getNewsById" resultType="com.yamakja.shop.domain.News">
        SELECT * FROM NEWS WHERE NEWSID = ${newsId}
    </select>

    <select id="getCommentById" resultType="com.yamakja.shop.domain.NewsComment">
        SELECT * FROM NEWSCOMMENT WHERE NEWSID = ${newsId}
    </select>
</mapper>